name: PHP Tests
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '8.2', '8.3' ]
        mysql-version: [ 'mysql:5.5', 'mysql:5.6', 'mysql:5.7', 'mysql:8.0', 'mysql:8.4', 'mariadb:5.5', 'mariadb:10.0', 'mariadb:10.1', 'percona:5.7', 'percona:8.0' ]

    services:
      mysql:
        image: "${{ matrix.mysql-version }}"
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: mysqlreplication_test
        ports:
          - 3306/tcp

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Start mysql service
        run: |
          echo -e "\n[mysqld]\nserver-id=1\nbinlog_format=row\nlog_bin=/var/log/mysql/mysql-bin.log\nbinlog_rows_query_log_events=ON" | sudo tee -a /etc/mysql/my.cnf
          sudo /etc/init.d/mysql start
          mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql -proot

      - name: Debug matrix values
        run: echo "Using PHP ${{ matrix.php }} and MySQL ${{ matrix.mysql-version }}"

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.php }}-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run tests
        run: vendor/bin/phpunit --coverage-text
